<style>
    .caret {
        border-top: 4px solid white;
    }
</style>
            <div class="dropdown visible-xs">
                <button class="btn btn-primary dropdown-toggle" style="color: white; width: 100%;" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    @ViewBag.Title
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1" style="width: 100%;">
                    <li><a href="~/Admin/RegisteredUsers">Users</a></li>
                    <li><a href="~/Admin/Mailbox">Mailbox</a></li>
                    <li><a href="~/Admin/Marketing">Marketing</a></li>
                    <li><a href="~/Admin/Settings">Settings</a></li>
                    <li><a href="~/Admin/Groups">Groups</a></li>
                </ul>
            </div>

            