@{
    ViewBag.Title = "Marketing";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/jquery.dataTables.min.css" rel="stylesheet" />
<script src="~/Scripts/jquery.dataTables.js"></script>

<div style="margin-left: 25px; margin-right: 25px; min-height: 760px;">
    <div class="spacer20"></div>
    <div><span class="page-header-text">Admin Dashboard - @Session["FullName"]</span></div>
    <div class="spacer10"></div>
    <div class="row text18">
        <div class="col-md-12">
            <ul class="nav nav-tabs hidden-xs">
                <li ><a href="~/Admin/RegisteredUsers">Users</a></li>
                <li ><a href="~/Admin/Mailbox">Mailbox</a></li>
                <li class="active"><a href="~/Admin/Marketing">Marketing</a></li>
                <li><a href="~/Admin/Settings">Settings</a></li>
                <li><a href="~/Admin/Groups">Groups</a></li>
                <li><a href="~/Admin/Banners">Banners</a></li>
            </ul>
            @Html.Partial("_Menu-m")
            <div class="tab-content">
                <div class="tab-pane fade in active" >
                    <div class="spacer40"></div>
                    <div class="row text18"> 
                        <div class="col-md-6 col-md-offset-3">
                            <div class="col-md-6"><a href="/Admin/CustomPages/"><img src="~/Content/images/icons/custompages.png" /> Custom Pages Editor</a></div>
                            <div class="col-md-6"><a href="/Admin/HomepageCarousel/"><img  src="~/Content/images/icons/carousel.png"/> Homepage Carousel Editor</a></div>
                        </div>
                        <div class="spacer50"></div>
                        <div class="col-md-6 col-md-offset-3">
                            <div class="col-md-6"><a href="/Admin/SitemapGenerator/"><img src="~/Content/images/icons/sitemaps.png"/> Sitemap Generator</a></div>
                            <div class="col-md-6"><a href="/Admin/EmailTemplates/"><img src="~/Content/images/icons/email_template.png"/> Email Templates</a></div>
                        </div>
                    </div>
                </div>
                
            </div>

        </div>
    </div>
</div>

        



