@model MyMuseo.Models.Collector
@using MyMuseo.Models
@using MyMuseo.Helpers


@{
    ViewBag.Title = "Payment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <div class="row-fluid">
        @using (Html.BeginForm("Payment", "Dashboard", FormMethod.Post, new { id = "PaymentForm" }))
        {
            <fieldset>
                <div id="legend">
                    <legend class="">Payment</legend>
                    <p>
                        <img src="http://bootstrap-ecommerce.com/main/images/icons/pay-visa.png">
                        <img src="http://bootstrap-ecommerce.com/main/images/icons/pay-mastercard.png">
                        <img src="http://bootstrap-ecommerce.com/main/images/icons/pay-american-ex.png">
                    </p>
                </div>

                <!-- Name -->
                <div class="control-group">
                    <label class="control-label" for="cardname">Card Holder's Name</label>
                    <div class="controls">
                        <input type="text" id="cardname" name="cardname" placeholder="" class="input-xlarge">
                    </div>
                </div>

                <!-- Card Number -->
                <div class="control-group">
                    <label class="control-label" for="cardnumber">Card Number</label>
                    <div class="controls">
                        <input type="text" id="cardnumber" name="cardnumber" placeholder="" class="input-xlarge">
                    </div>
                </div>

                <!-- Expiry-->
                <div class="control-group">
                    <label class="control-label" for="password">Card Expiry Date</label>
                    <div class="controls">
                        <select class="span3" name="expiry_month" id="expiry_month">
                            <option></option>
                            <option value="01">Jan (01)</option>
                            <option value="02">Feb (02)</option>
                            <option value="03">Mar (03)</option>
                            <option value="04">Apr (04)</option>
                            <option value="05">May (05)</option>
                            <option value="06">June (06)</option>
                            <option value="07">July (07)</option>
                            <option value="08">Aug (08)</option>
                            <option value="09">Sep (09)</option>
                            <option value="10">Oct (10)</option>1
                            <option value="11">Nov (11)</option>
                            <option value="12">Dec (12)</option>
                        </select>
                        <select class="span2" name="expiry_year">
                            <option value="13">2013</option>
                            <option value="14">2014</option>
                            <option value="15">2015</option>
                            <option value="16">2016</option>
                            <option value="17">2017</option>
                            <option value="18">2018</option>
                            <option value="19">2019</option>
                            <option value="20">2020</option>
                            <option value="21">2021</option>
                            <option value="22">2022</option>
                            <option value="23">2023</option>
                        </select>
                    </div>
                </div>

                <!-- CVV -->
                <div class="control-group">
                    <label class="control-label" for="password_confirm">Card CVV</label>
                    <div class="controls">
                        <input type="password" id="password_confirm" name="password_confirm" placeholder="" class="span2">
                    </div>
                </div>

                <!-- Submit -->
                <div class="control-group">
                    <div class="controls">
                        <button class="btn btn-success" onclick="document.getElementById('PaymentForm').submit();" >Pay Now</button>
                    </div>
                </div>

            </fieldset>
        }
    </div>
</div>
