@{
    ViewBag.Title = "Collecting Information";
}


<div class="container">
<h2>@ViewBag.Title.</h2>

<p style="font-size: 18px;">
mymuseo.com is a new approach for collectors and enthusiasts to publicly display collections or bodies of work, and sell or buy collectible in all mediums. The goals of the site are ambitious and should result in being the premier internet museum of the world, housing the collections of everyday people, as well as the great works of art and other collectibles.  There is no other site for this audience and user types.
mymuseo.com will have an advisory board, legal team, and other specialists to ensure success.
mymuseo.com is primarily a social networking site for collectors of all types and collector pages will flow as such. Ecommerce functionality for collectors who are selling will be built in at the outset for those who are selling.
</p>

</div>