<div class="modal fade" id="smartphone_guide">
    <div class="modal-dialog" style="width: 900px;">
        <div class="modal-content">
            <div class="modal-header well">
                <a href="#" data-dismiss="modal" class="class pull-right"><span class="glyphicon glyphicon-remove"></span></a>
                <h3 class="modal-title">Tips for Smartphone Users</h3>
            </div>
            <div class="modal-body">
                <div class="row" style="padding: 20px;">
                    <div>
                        <span>@Html.Raw(@ViewBag.SmartphoneGuide)</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>