<div class="col-md-12" style="background-color:#dadada!important; padding-right: 15px; padding-left: 15px;">
    <div class="spacer15"></div>
    <div class="row hidden-xs" style="font-size: 15px; font-weight: bold;">
        <div class="col-lg-1 col-sm-12 text-center"><a href="/Home/About/" style="color:#555555;">About Us</a></div>
        <div class="col-lg-2 col-sm-12 text-center"><a href="/Home/Faqs/" style="color:#555555;">FAQs</a></div>
        <div class="col-lg-2 col-sm-12 text-center"><a href="/Home/TipsForCollectors/" style="color:#555555;">Tips for Collectors</a></div>
        <div class="col-lg-2 col-sm-12 text-center"><a href="/Home/TipsForArtists/" style="color:#555555;">Tips for Artists</a></div>
        <div class="col-lg-2 col-sm-12 text-center"><a href="/Home/Terms/" style="color:#555555;">Terms of Use</a></div>
        <div class="col-lg-2 col-sm-12 text-center"><a href="/Home/PrivatePolicy/" style="color:#555555;">Privacy Policy</a></div>
        <div class="col-lg-1 col-sm-12 text-center"><a href="/Home/Contact/" style="color:#555555;">Contact Us</a></div>
    </div>
    <div class="row visible-xs" style="font-size: 12px; font-weight: bold;">
        <div class="col-xs-3">
            <div class="row">
                <div class="col-sm-12 text-center"><a href="/Home/About/" style="color:#555555;">About Us</a></div>
                <div class="col-sm-12 text-center"><a href="/Home/Faqs/" style="color:#555555;">FAQs</a></div>
            </div>
        </div>
        <div class="col-xs-5">
            <div class="row">
                <div class="col-sm-12 text-center"><a href="/Home/TipsForCollectors/" style="color:#555555;">Tips for Collectors</a></div>
                <div class="col-sm-12 text-center"><a href="/Home/TipsForArtists/" style="color:#555555;">Tips for Artists</a></div>    
            </div>
        </div>
        <div class="col-xs-4">
            <div class="row">
                <div class="col-sm-12 text-center"><a href="/Home/Terms/" style="color:#555555;">Terms of Use</a></div>
                <div class="col-sm-12 text-center"><a href="/Home/PrivatePolicy/" style="color:#555555;">Privacy Policy</a></div>
                <div class="col-sm-12 text-center"><a href="/Home/Contact/" style="color:#555555;">Contact Us</a></div>
            </div>
        </div>
    </div>
    <div class="spacer20"></div>
    <div class="col-md-12" style="color:#777777; font-size: 14px; text-align:center;">
        <span>Copyright &copy; @DateTime.Now.Year myMuseo All Rights Reserved</span>
    </div>
    <div class="spacer15"></div>
</div>